.income-expense-trend-tooltip {
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .indicator {
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .bg-income {
        background-color: var(--primary-light);
    }
    .bg-expense {
        background-color: var(--secondary-light);
    }
}

.income-expense-trend-chart {
    width: 400px;
    height: 160px !important;
}
