:root {
  --white-400: #ffffff;
  --green-400: #4fd18b;
  --primary-light: #db7cc2;
  --primary-dark: #db7cc2;
  --secondary-light: #a68eee;
  --secondary-dark: #a68eee;
  --success-light: #4fd18b;
  --success-dark: #4fd18b;
  --error-light: #d43833;
  --error-dark: #d4534e;
}

::selection {
  background: #db7cc2;
}
