* {
  font-family: "custom-regular";
}

@font-face {
  font-family: "custom-regular";
  src:
    local("MyFont"),
    url(./assets/fonts/HankenGrotesk-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "custom-semibold";
  src:
    local("MyFont"),
    url(./assets/fonts/HankenGrotesk-SemiBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "custom-bold";
  src:
    local("MyFont"),
    url(./assets/fonts/HankenGrotesk-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
